<h1>Kontrast</h1>

<p>TODO: Text warum wichtig.</p>

<p>
  <strong>Übung</strong>: Sehen Sie sich die beiden Varianten des gleichen
  Inhalts an. Versuchen Sie ebenfalls, die beiden Varianten mit 50% Zoom zu
  betrachten und den Fließtext zu lesen.
</p>

<mat-tab-group>
  <mat-tab label="Barrierefrei">
    <div class="theme">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Der Seitentitel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
          Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
          Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt
          sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in
          dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von
          der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
          geradezu unorthographisches Leben. Eines Tages aber beschloß eine
          kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in
          die weite Grammatik.
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-flat-button>Bestätigen</button>
            <button mat-flat-button color="warn">Ablehnen</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Nicht Barrierefrei">
    <div class="theme bad-theme">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Der Seitentitel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
          Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
          Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt
          sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in
          dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von
          der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
          geradezu unorthographisches Leben. Eines Tages aber beschloß eine
          kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in
          die weite Grammatik.
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-flat-button>Bestätigen</button>
            <button mat-flat-button color="warn">Ablehnen</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
