<h2>Kontrast</h2>

<p>
  Insbesondere Menschen mit einer Sehschwäche haben große Probleme Texte
  überhaupt lesen zu können. Deshalb ist vor allem ein guter Kontrast notwendig.
  Doch welcher Kontrast ist ausreichend, welcher nicht? Da sich dies mit dem
  bloßen Auge nicht eindeutig einschätzen lässt, ermittelt man mit Hilfe
  verschiedener Tools ein sogenanntes Kontrastverhältnis. Dieses ergibt sich aus
  dem Kontrast zwischen Hintergrundfarbe und dem darauf liegenden Text.
</p>

<p>
  In der Regel wird schwarzer Text auf weißem Hintergrund verwendet. Dies
  entspricht dem höchstmöglichen Kontrastverhältnis von 21:1. In Bezug auf die
  Barrierefreiheit ist für Texte auf Ihrer Webseite ein Kontrastverhältnis von
  mindestens 4,5:1 erforderlich.
</p>

<p>
  <strong>Übung</strong>: Sehen Sie sich die beiden Varianten des gleichen
  Inhalts an. Versuchen Sie ebenfalls, die beiden Varianten mit 50% Zoom zu
  betrachten und den Fließtext zu lesen.
</p>

<p>
  Öffen Sie danach die Chrome-Extension
  <a
    href="https://chromewebstore.google.com/detail/wcag-color-contrast-check/plnahcmalebffmaghcpcmpaciebdhgdf"
  >
    WCAG Color contrast checker
  </a>

  und überprüfen, welche Kontrastwerte bei beiden Beispiele tatsächlich haben.
</p>

<mat-tab-group>
  <mat-tab label="Hoher Kontrast">
    <div class="theme">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Der Seitentitel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
          Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
          Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt
          sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in
          dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von
          der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
          geradezu unorthographisches Leben. Eines Tages aber beschloß eine
          kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in
          die weite Grammatik.
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-flat-button>Bestätigen</button>
            <button mat-flat-button color="warn">Ablehnen</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Niedriger Kontrast">
    <div class="theme bad-theme">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Der Seitentitel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
          Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
          Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt
          sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in
          dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von
          der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
          geradezu unorthographisches Leben. Eines Tages aber beschloß eine
          kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in
          die weite Grammatik.
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-flat-button>Bestätigen</button>
            <button mat-flat-button color="warn">Ablehnen</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
