<h1>Barrierefreie Texte</h1>

<div>
  <p>
    Texte in leichter Sprache richten sich vorwiegend an Menschen mit
    Lernschwierigkeiten, an Menschen mit Demenz, an Menschen, die Deutsch lernen
    oder an Menschen, die nicht gut lesen können.
  </p>
  <p>
    Texte in Einfacher Sprache richten sich vorwiegend an Menschen mit niedriger
    Lesekompetenz und an Menschen mit Deutsch als Zweitsprache. Letztlich kann
    Einfache Sprache aber in vielen Kontexten für alle Menschen sinnvoll sein,
    so gibt es zum Beispiel Bemühungen, Verwaltungstexte in bürgernaher Sprache
    anzubieten. Bürgernahe Sprache ist ähnlich wie Einfache Sprache etwas
    alltagsgebräuchlicher und weniger komplex.
  </p>
</div>

<section class="sprache">
  <article>
    <h2>Normale Sprache</h2>
    <p>
      <img
        src="amsel.jpg"
        width="200"
        alt="Bild einer Amsel, die auf einem Zaun sitzt"
      />
      Adulte Amseln weisen einen deutlichen Geschlechts<wbr />dimorphismus auf:
      Das Gefieder der Männchen ist einfarbig schwarz, der Schnabel auffällig
      hellgelb bis orange. Zudem zeigen Männchen einen deutlichen Ring um die
      Augen, dessen Farbe der des Schnabels ähnelt, jedoch etwas ins Bräunliche
      gehen kann. Dieser Augenring kontrastiert stark mit der dunkelbraunen
      Iris. Weniger deutlich ist dieser Augenring beim Weibchen, auch der
      Schnabel ist weniger auffällig und hell hornfarben statt gelb. Die
      Gefiederfärbung des Weibchens ist viel variabler und vorwiegend
      dunkelbraun, teilweise ins Grau gehend oder rötlichbraun.
    </p>
  </article>

  <article>
    <h2>Leichte Sprache</h2>
    <p>
      <img
        src="amsel.jpg"
        width="200"
        alt="Bild einer Amsel, die auf einem Zaun sitzt"
      />
      Bei erwachsenen Amseln unterscheidet sich das Aussehen von Männchen und
      Weibchen deutlich. Die Männchen sind schwarz und haben einen hellgelben
      bis orangenen Schnabel. Sie haben einen Ring um ihre Augen, der die
      gleiche Farbe wie der Schnabel hat. Der Ring hebt sich stark von der
      dunkelbraunen Augenfarbe ab.
    </p>
    <p>
      Beim Weibchen ist dieser Ring nicht so gut zu erkennen. Der Schnabel ist
      bei den Weibchen eher braun. Die Federn sind auch braun. Sie können aber
      auch grau oder rötlich sein.
    </p>
  </article>

  <article>
    <h2>Einfache Sprache</h2>
    <img
      src="amsel.jpg"
      width="200"
      alt="Bild einer Amsel, die auf einem Zaun sitzt"
    />
    <p>Bei Amseln sehen das Männchen und das Weibchen anders aus.</p>
    <p>Männchen haben schwarze Federn.</p>
    <p>Und Männchen haben einen hellgelben oder orangenen Schnabel.</p>
    <p>Männchen haben einen orangenen Ring um die Augen.</p>
    <p>Und Männchen haben dunkelbraune Augen.</p>
    <p>Weibchen haben dunkelbraune Federn.</p>
    <p>Weibchen haben einen braunen Schnabel.</p>
    <p>Und Weibchen haben auch einen Ring um die Augen.</p>
    <p>Man kann den Ring aber nicht so gut sehen.</p>
    <p>Der Ring ist nämlich auch braun wie die Federn.</p>
  </article>
</section>
