<h2>Manuelles Testen der Barrierefreiheit</h2>

<p>
  Das manuelle Testen einer Webseite auf Barrierefreiheit ist ein aufwendiger
  Prozess, der viel Konzentration und Gewissenhaftigkeit erfordert. Sehr leicht
  übersieht man Kleinigkeiten, die am Ende die erfolgreiche Benutzung unserer
  Seite durch einen Menschen mit Behinderung erschweren oder verhindern.
</p>

<h3>Manuelle Checklisten</h3>

<p>
  Ein wichtiges Tool zum Prüfen einer Webseite sind die guten, alten
  Checklisten. Diese sollten alle Kriterien enthalten, die man Punkt für Punkt
  durchgehen muss. Eine tatsächlich brauchbare erste Anlaufstelle sind die
  Cheklisten, die von der
  <a
    href="https://www.barrierefreiheit-dienstekonsolidierung.bund.de/Webs/PB/DE/umsetzungshilfen/checklisten/checklisten-node.html"
    target="_blank"
    >Bundesregierung ausgegeben werden</a
  >.
</p>

<h3>WAVE Evaluation Tool</h3>
<p>
  Das
  <a
    href="https://chromewebstore.google.com/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh"
    >WAVE Evaluation Tool</a
  >
  ist eine Browser-Erweiterung, mit dem man eine einzelne Browser-Seite
  analysieren kann und die am Ende einen Bericht mit gefundenen Fehlern und
  Hinweisen ausgibt. Sehr angenehm ist, die betroffenen Elemente werden direkt
  im Browser hervorgehoben, sind also schnell gefunden.
</p>

<h3>AXE-DevTools</h3>

<p>
  Wie WAVE bieten auch die
  <a href="https://www.deque.com/axe/devtools/" target="_blank">AXE-DevTools</a>
  die Möglichkeit, eine gesamte Seite zu scannen und dort Fehler der
  Barrierefreiheit zu finden.
</p>

<h3>IBM Equal Access Toolkit</h3>

<p>
  Das
  <a href="https://www.ibm.com/able/toolkit/" target="_blank"
    >IBM Equal Access Toolkit</a
  >
  ist eine Mischung aus AXE und einem Reporting Tool. Es analysiert ebenfalls
  automatisch eine einzelne Seite, ergänzt dies aber noch durch Checklisten, die
  nicht automatisch abprüfbar sind.
</p>

<p>
  Diese Listen können Tester durchgehen und abhaken und am Ende daraus
  automatisiert einen Bericht generieren. Dieser kann dann for das Reporting
  eingesetzt werden.
</p>

<h3>WCAG Contrast checker</h3>

<p>
  Der
  <a
    href="https://chromewebstore.google.com/detail/wcag-color-contrast-check/plnahcmalebffmaghcpcmpaciebdhgdf"
    target="_blank"
    >WCAG Contrast Checker</a
  >
  überprüft die Farbkontraste einer einzelnen Seite. Vorteil dieses Tools ist,
  es kann im Gegensatz zu zum Beispiel AXE oder WAVE interaktiv verwendet
  werden. Das heißt, man kann die Seite bedienen, Elemente aus- und einklappen
  etc. und erhält für die aktuelle Ansicht eventuelle Verletzungen der
  Kontrastwerte.
</p>

<h3>Colorblindly</h3>

<p>
  Mit Browser-Erweiterungen wie
  <a
    href="https://chromewebstore.google.com/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg"
    target="_blank"
    >Colorblindly</a
  >
  kann man sehr gut seine Webseite mit den Augen eines Menschen mit
  Farbfehlsicht betrachten. Sind alle Inhalte gut lesbar? Werden alle
  Signalfarben durch weitere Hilfen ergänzt?
</p>

<h3>Hochkontrast-Modus in Windows</h3>

<p>
  Windows selbst bietet in den Einstellungen sogenannte Kontrast-Designs. Diese
  versetzen das gesamte System, nicht nur den Webbrowser in einen
  Hochkontrast-Modus.
</p>

<img
  src="einstellungen-kontrast.jpg"
  width="600"
  alt="Screenshot der Windows Einstellungen für Kontrast-Designs"
/>

<p>
  Zu jedem Barrierefreiheits-Test gehört es, die gesamte Seite im Hochkontrast
  durchzuarbeiten und zu prüfen, ob jeder Inhalt sicht- und lesbar ist.
</p>

<img
  src="hochkontrast.jpg"
  width="600"
  alt="Screenshot Windows im Hochkontrast-Modus"
/>

<p>
  An den Anblick von Windows in diesem Modus muss man sich erst einmal gewöhnen,
  aber bedenken Sie: Es gibt Menschen, die Windows nie andere sehen als so.
</p>

<h3>NVDA Screenreader</h3>

<p>
  Auch der Screenreader gehört zum Werkzeugkasten der Barrierefreiheit-Tests.
  Selbst wenn die oben genannten Tools nicht anschlagen, letztlich merkt man
  erst, ob die Webseite wirklich keine Fallen für Screenreader beinhaltet, wenn
  man sich das alles vorlesen lässt.
</p>

<p>
  Ein sehr verbreiteter und kostenloser Screenreader ist
  <a href="https://www.nvaccess.org/" target="_blank">NVDA</a>.
</p>
