<h1>Mit Elementen interagieren</h1>

<p>
  TODO: Text über Elemente müssen groß genug sein und ausreichend Abstand
  zueinander haben, um Maus-Bedienung für alle zu ermöglichen. Ideal: Abstand +
  man kann auch in die Umgebung klicken + auch das Label anklicken.
</p>

<p>
  <strong>Übung:</strong> Wählen Sie in den beiden Listen verschiedene Essen
  aus. Welche Variante ist einfacher zu bedienen? Versuchen Sie auch, ein Essen
  über den Namen und die Checkbox auszuwählen.
</p>

<section class="bad-food">
  <p>Wählen Sie ihr Essen:</p>
  <div>
    <input type="checkbox" />
    <label> Pizza </label>
  </div>
  <div>
    <input type="checkbox" />
    <label> Salat </label>
  </div>
  <div>
    <input type="checkbox" />
    <label> Spagetti </label>
  </div>
  <div>
    <input type="checkbox" />
    <label> Burger </label>
  </div>
  <div>
    <input type="checkbox" />
    <label> Sushi </label>
  </div>
</section>

<section class="good-food">
  <p>Wählen Sie ihr Essen:</p>

  <mat-checkbox type="checkbox">Pizza</mat-checkbox>
  <mat-checkbox type="checkbox">Burger</mat-checkbox>
  <mat-checkbox type="checkbox">Salat</mat-checkbox>
  <mat-checkbox type="checkbox">Spagetti</mat-checkbox>
  <mat-checkbox type="checkbox">Sushi</mat-checkbox>
</section>
