.food-selection {
  display: flex;
  gap: 16px;
}

.bad-food {
  border: 1px solid black;
  border-radius: 8px;
  max-width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  div {
    height: 14px;
  }

  input {
    height: 12px;
    margin: 0;
  }

  label {
    font-size: 14px;
    height: 14px;
  }
}

.good-food {
  border: 1px solid black;
  border-radius: 8px;
  max-width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
