<div class="content">
  <header>
    <mat-toolbar>
      <h1>Demo Barrierefreiheit</h1>
      <span class="nav-spacer"></span>
      <nav>
        <button mat-button [matMenuTriggerFor]="visuals">Sehen</button>
        <mat-menu #visuals="matMenu">
          <a [routerLink]="['sehen', 'skalierung']" mat-menu-item
            >Skalierbarkeit</a
          >
          <a [routerLink]="['sehen', 'farben']" mat-menu-item>Farbfehlsicht</a>
          <a [routerLink]="['sehen', 'kontrast']" mat-menu-item>Kontrast</a>
          <a [routerLink]="['sehen', 'screenreader']" mat-menu-item
            >Screenreader</a
          >
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="audio">Hören</button>
        <mat-menu #audio="matMenu">
          <a [routerLink]="" mat-menu-item>Item 1</a>
          <a [routerLink]="" mat-menu-item>Item 1</a>
          <a [routerLink]="" mat-menu-item>Item 1</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="motorik">Motorik</button>
        <mat-menu #motorik="matMenu">
          <a [routerLink]="['motorik', 'elemente']" mat-menu-item
            >Größe Bedienelemente</a
          >
          <a [routerLink]="['motorik', 'tastatur']" mat-menu-item
            >Tastaturbedienung</a
          >
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="kognitiv">Kognitiv</button>
        <mat-menu #kognitiv="matMenu">
          <a [routerLink]="['kognitiv', 'sprache']" mat-menu-item>
            Einfache Sprache
          </a>
          <a [routerLink]="['kognitiv', 'navigation']" mat-menu-item>
            Übersichtliche Navigation
          </a>
          <a [routerLink]="['kognitiv', 'screenreader']" mat-menu-item>
            Texte für Screenreader
          </a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="tests">
          Tests für Barrierefreiheit
        </button>
        <mat-menu #tests="matMenu">
          <a [routerLink]="" mat-menu-item>Tools für manuelle Tests</a>
          <a [routerLink]="" mat-menu-item>Testautomatisierung</a>
        </mat-menu>
      </nav>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet />
  </main>
</div>
