<h1>Skalierung von Inhalten</h1>

<p>
  Viele Benutzer mit Sehschwäche nutzen die Möglichkeit, den Zoom im Browser
  einzustellen. Zooms von 200% oder sogar 400% sind nicht ungewöhnlich.
</p>

<p>
  Es ist wichtig, dass die Seite auch auf derartigen Zoom-Stufen bedienbar
  bleibt und kein Inhalt abgeschnitten wird.
</p>

<p>
  <strong>Übung</strong>: Zoomen Sie die Seite auf 200%, danach auf 400%. Was
  beobachten Sie?
</p>

<section class="cards">
  <mat-card class="limit">
    <mat-card-title>
      <div class="title">
        Das ist eine sehr lange Überschrift, sehr ungewöhnlich!
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="content">
        Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
        Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
        Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein
        kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie
        mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem
        einem gebratene Satzteile in den Mund fliegen. Nicht einmal von der
        allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
        geradezu unorthographisches Leben. Eines Tages aber beschloß eine kleine
        Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite
        Grammatik.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Das ist eine sehr lange Überschrift! Sehr ungewöhnlich.
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
      Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein
      kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit
      den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem
      gebratene Satzteile in den Mund fliegen. Nicht einmal von der allmächtigen
      Interpunktion werden die Blindtexte beherrscht – ein geradezu
      unorthographisches Leben. Eines Tages aber beschloß eine kleine Zeile
      Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite
      Grammatik.
    </mat-card-content>
  </mat-card>
</section>
