<h2>Skalierung von Inhalten</h2>

<p>
  Viele Menschen mit Sehschwäche nutzen die Möglichkeit, den Zoom im Browser
  einzustellen. Zooms von 200% oder sogar 400% sind nicht ungewöhnlich.
</p>

<p>
  Es ist wichtig, dass die Seite auch auf derartigen Zoom-Stufen bedienbar
  bleibt und kein Inhalt abgeschnitten wird.
</p>

<p>
  <strong>Übung</strong>: Zoomen Sie die Seite auf 200%, danach auf 400%. Was
  beobachten Sie bei den beiden Textboxen?
</p>

<section class="cards">
  <mat-card class="limit">
    <mat-card-title>
      <div class="title">
        Das ist eine sehr lange Überschrift, sehr ungewöhnlich!
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="content">
        Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
        Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
        Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein
        kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie
        mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem
        einem gebratene Satzteile in den Mund fliegen. Nicht einmal von der
        allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
        geradezu unorthographisches Leben. Eines Tages aber beschloß eine kleine
        Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite
        Grammatik.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Das ist eine sehr lange Überschrift! Sehr ungewöhnlich.
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
      Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein
      kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit
      den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem
      gebratene Satzteile in den Mund fliegen. Nicht einmal von der allmächtigen
      Interpunktion werden die Blindtexte beherrscht – ein geradezu
      unorthographisches Leben. Eines Tages aber beschloß eine kleine Zeile
      Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite
      Grammatik.
    </mat-card-content>
  </mat-card>
</section>

<h2>Skalierung von Grafiken</h2>

<p>
  Rastergrafiken, wie die JPEG oder PNG-Formate, sind im Web weit verbreitet.
  Gerade bei kleineren Bildern muss man allerdings beachten, dass diese Formate
  bei hohen Zoom-Stufen nicht mehr gut zu erkennen sind, da die einzelnen Pixel
  einfach vergrößert werden.
</p>

<p>
  Vektor-Formate wie z.B. SVG haben dieses Problem nicht, da sie unbegrenzt
  skalieren können. Verwenden Sie also, wo sinnvoll möglich, Vektorgrafiken. Bei
  Fotos ist das natürlich nicht möglich, aber Dinge wie Icons eigenen sich
  perfekt für SVG.
</p>

<p>
  <strong>Übung:</strong> Betrachten Sie die beiden Brillen unter der Übung.
  Fällt Ihnen etwas auf? Zoomen Sie danach über den Button die Bilder auf 400%
  und sehen Sie sich die beiden Brillen erneut an. Welches Bild ist ein
  Vektor-Format?
</p>
<p>
  <button mat-flat-button (click)="toggleZoom()">
    Bildgröße zwischen 100% und 400% Zoom wechseln
  </button>
</p>
<p>
  <img [width]="imageWidth()" src="glasses.png" />
  <img [width]="imageWidth()" src="glasses.svg" />
</p>
