<section>
  <h3>Welche Arten der Farbsehschwäche und Farbenblindheit gibt es?</h3>
  <p>
    Es gibt nicht nur unterschiedliche Arten der Farbensehstörungen, sondern
    auch verschiedene Ausprägungen. Bei den meisten Menschen ist eine
    Dichromasie die Ursache – ein Zapfentyp arbeitet also unzureichend oder gar
    nicht. Das führt dazu, dass Betroffene manche Farben nicht so gut sehen oder
    Nuancen der Farbe nicht unterscheiden können. Die jeweilige Farbe erscheint
    beispielsweise heller oder sogar grau.
  </p>

  <h4>Rot-Grün-Farbenblindheit</h4>
  <p>
    Die Rot-Grün-Farbsinnstörung kommt am häufigsten vor. Hier ist es schwierig,
    den Unterschied zwischen Rot und Grün zu erkennen. Es gibt vier Arten, die
    alle auf eine Dichromasie zurückzuführen sind:
  </p>

  <ul>
    <li>
      Die Deuteranomalie ist die häufigste Form der Rot-Grün-Farbensehstörungen.
      Dabei ist die Funktionsweise der Zapfen für grünes Licht abgeschwächt,
      weswegen das Grün matter erscheint oder sogar eher wie Rot aussieht.
    </li>
    <li>
      Arbeiten die Zapfen für Grün gar nicht, sprechen Fachleute von einer
      Deuteranopie (Grünblindheit). Betroffene können dadurch den Unterschied
      zwischen Rot und Grün nicht erkennen.
    </li>
    <li>
      Bei der Protanomalie ist die Funktion der Zapfen für Rot herabgesetzt,
      weswegen Rot weniger wahrgenommen wird.
    </li>
    <li>
      Wenn die Zapfen für Rot ganz ausfallen, liegt eine Protanopie
      (Rotblindheit) vor – Rot und Grün machen optisch keinen Unterschied.
    </li>
  </ul>

  <h4>Blau-gelbe Farbenblindheit</h4>
  <p>
    Bei dieser seltenen Form der Sehstörung ist die Ursache ebenfalls eine
    Dichromasie – die Blau-Zapfen funktionieren nicht oder nicht richtig.
  </p>

  <ul>
    <li>
      Die leichte Form (Farbsehschwäche) ist die Tritanomalie, bei der die
      Zapfen schlechter arbeiten, aber die Wellenlänge für Blau zumindest
      teilweise noch identifizieren. Blau sehen diese Menschen eher als türkis
      oder grau. Oft haben sie auch Schwierigkeiten, Gelb zu erkennen.
    </li>
    <li>
      Bei der Tritanopie (Blaublindheit) sind die Zapfen vollständig
      funktionslos und Betroffene sind nicht in der Lage, Blau zu erkennen.
      Farben, die auf Rot und Grün basieren, können sie erkennen.
    </li>
  </ul>

  <h4>Blauzapfenmonochromasie</h4>
  <p>
    Eine Monochromasie, also wenn nur ein einziger Zapfentyp funktionsfähig ist,
    ist normalerweise angeboren. In der Regel handelt es sich dabei um die
    Zapfen für Blau, weswegen Ärzte und Ärztinnen diese Farbenblindheit auch als
    Blauzapfenmonochromasie bezeichnen. Die Patienten und Patientinnen sind
    nahezu farbenblind. Sie nehmen lediglich Blau wahr. Weitere Symptome kommen
    wie bei der vollständigen Farbenblindheit hinzu, etwa eine hohe
    Lichtempfindlichkeit sowie schnelle Augenbewegungen (Nystagmus).
  </p>

  <h4>Vollständige Farbenblindheit</h4>

  <p>
    Betroffene, die vollständig farbenblind sind, können überhaupt keine Farben
    erkennen (Achromasie). Sie sehen nur verschiedene Graustufen und Kontraste,
    weil dies die verbleibenden Stäbchen in der Netzhaut möglich machen, die
    deutlich lichtempfindlicher sind als die Zapfen, aber nur schwarz-weiß sehen
    können. Diese Art der Farbsehstörung ist mit knapp 3.000 Betroffenen in
    Deutschland selten. Oft ist auch das Sehvermögen insgesamt gestört, die
    Betroffene können also auch nicht scharf sehen und alles ist überbelichtet.
    Daneben besteht in der Regel Lichtempfindlichkeit und Nystagmus.
  </p>
</section>

<section>
  <h3>Test der verschiedenen Varianten von Farbfehlsicht</h3>

  <p>
    Mit der Chrome-Extension
    <a
      href="https://chromewebstore.google.com/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg"
      target="_blank"
      >Colorblindly</a
    >
    kann man hier sehr schön sehen, wie Farben auf Menschen mit verschiedenen
    Ausprägungen der Farbfehlsicht wirken.
  </p>

  <div class="flex">
    <div>
      <label>
        Farbwähler:
        <input type="color" [(ngModel)]="pickedColor" />
      </label>
    </div>

    <div class="color-field" [style.background-color]="pickedColor()"></div>
  </div>

  <p>
    <strong>Übung:</strong>Klicken Sie auf den Farbwähler und stellen Sie eine
    Farbe ein. Öffnen Sie dann die Erweiterung Colorblindly und testen Sie, wie
    sich die Farbe mit den unterschiedlichen Einstellungen verändert.
  </p>

  <p>
    Hier sehen sie vier "identische" Farbtafeln der Grundfarben, wie diese auf
    Menschen mit den verschiedenen Ausprägungen der Farbenblindheit aussehen.
  </p>

  <img
    src="color-blind-palette.png"
    alt="Farbpalette für die verschiedenen Arten der Farbenblindheit"
  />
</section>

<section class="ishihara">
  <h3>Ishihara Farbtafeln</h3>

  <p>
    Die Ishihara-Farbtafeln sind ein Farbsehtest zum Nachweis vor allem
    angeborener rot-grün-Farbsehstörungen. Es sind Testtafeln enthalten zur
    Aufdeckung einer Rot-Grün-Sehschwäche, zur differenzierten Erkennung einer
    Rotschwäche / Rotblindheit, einer Grünschwäche / Grünblindheit und der
    völligen Farbenblindheit. Tafeln zur Testung des Blau-Gelb-Farbsehens sind
    nicht enthalten. Aus den Stilling'schen Farbtafeln (Erstveröffentlicht 1877)
    durch den japanischen Augenarzt Shinobu Ishihara weiterentwickelt, der diese
    Testreihe dann 1917 erstmals veröffentlichte.
  </p>

  <p>
    <strong>Übung:</strong> Prüfen Sie, ob Sie auf den Farbtafeln alle Zahlen
    gut erkennen können. Stellen Sie danach in Colorblindly nacheinander
    Rot-Blindheit und Grün-Blindheit ein. Welche Zahlen sind nicht mehr
    erkennbar?
  </p>
  <img
    src="ishihara-test.png"
    alt="Iishihara Farbtafeln zum Testen von Farbfehlsicht"
  />
</section>

<section>
  <h3>Beispiel: Farbauswahl in einem Shop</h3>

  <p>
    <strong>Übung:</strong> Wählen Sie in Colorblindly "Red-blind" und versuchen
    Sie im folgenden Dropdown, die Farbe "rosa" auszuwählen.
  </p>

  <mat-form-field>
    <mat-label>Wählen Sie Ihre Lieblingsfarbe aus</mat-label>
    <mat-select [(value)]="selectedColor" [class]="selectedColor()">
      @for (color of colorOptions; track color) {
      <mat-option [class]="color" [value]="color"></mat-option>
      }
    </mat-select>
  </mat-form-field>

  <p>Versuchen Sie nun das gleiche in dem zweiten Dropdown.</p>

  <mat-form-field>
    <mat-label>Wählen Sie Ihre Lieblingsfarbe aus </mat-label>
    <mat-select [(value)]="selectedColor" [class]="selectedColor()">
      @for (color of colorOptions; track color) {
      <mat-option [class]="color" [value]="color">{{ color }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <p class="box">Die gewählte Farbe ist: {{ selectedColor() }}</p>

  <p>
    Es ist für barrierefreie Inhalte wichtig, Informationen niemals nur über
    Farben zu transportieren. Es müssen immer ergänzende Texte und/oder Symbole
    vorhanden sein.
  </p>

  <p>
    Spielen Sie gerne noch mit den verschiedenen Modi in Colorblindly herum und
    sehen Sie, wie sich das auf das Dropdown auswirkt.
  </p>
</section>

<section>
  <h3>Farben mit Symbolen ergänzen</h3>

  <p>
    <strong>Übung:</strong> Schalten Sie auf "Green-blind" und betrachten Sie
    die folgenden Hinweisboxen. Ändern Sie danach im Dropdown den Typ der
    Meldung.
  </p>

  <mat-form-field>
    <mat-label>Typ der Meldung</mat-label>
    <mat-select [(value)]="messageType">
      <mat-option value="color">Farbe</mat-option>
      <mat-option value="icon">Farbe und Icon</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card appearance="outlined" class="success">
    <mat-card-content>
      @if (messageType() === 'icon') {
      <mat-icon
        aria-hidden="false"
        aria-label="Erfolg"
        fontIcon="thumb_up"
      ></mat-icon>
      } Eine Erfolgsmeldung
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="warning">
    <mat-card-content>
      @if (messageType() === 'icon') {
      <mat-icon
        aria-hidden="false"
        aria-label="Warnung"
        fontIcon="notifications"
      ></mat-icon>
      } Eine Warnung
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="error">
    <mat-card-content>
      @if (messageType() === 'icon') {
      <mat-icon
        aria-hidden="false"
        aria-label="Fehler"
        fontIcon="error"
      ></mat-icon>
      } Ein Fehler ist passiert!
    </mat-card-content>
  </mat-card>
</section>
