.shopping-lists {
  display: flex;
  gap: 16px;
}

.shopping {
  border: 1px solid black;
  padding: 16px;

  ul {
    padding-left: 0px;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  h1,
  strong {
    display: block;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    height: 20px;
    line-height: 24px;
  }

  p,
  li {
    margin: 5px 10px;
  }
}

.images {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

figure {
  margin: 0;
  img {
    width: 250px;
  }
}

section {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}
