.shopping {
  ul {
    padding-left: 0px;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  h1,
  strong {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    height: 40px;
  }

  p,
  li {
    margin: 5px 10px;
  }
}
