.shopping {
  ul {
    padding-left: 0px;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  h1,
  strong {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    height: 40px;
  }

  p,
  li {
    margin: 5px 10px;
  }
}

.image {
}

.images {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

figure {
  margin: 0;
  img {
    width: 250px;
  }
}
