<h1>Semantisches HTML für Screenreader</h1>

<section>
  <p>
    Bildschirmlesegeräte sind Audio-Schnittstellen. Anstatt Webinhalte visuell
    für Nutzer in einem „Fenster“ oder auf dem Bildschirm des Monitors
    anzuzeigen, konvertieren Screenreader den Text in synthetisierte Sprache, so
    dass Benutzer den Inhalt hören. Sehende Nutzer haben es normalerweise sehr
    schwer sich vorzustellen, sich immer auf ein Audio-Interface verlassen zu
    müssen, da ihre Welt so sehr visuell ist. Die Erfahrung ist völlig anders,
    das ist sicher. Das Wunder ist, dass die Option für eine Audio-Schnittstelle
    überhaupt vorhanden ist. Ohne Screenreader wären die Personen, die blind
    sind, auf andere angewiesen, die ihnen den Inhalt laut vorlesen. Diese
    Technik macht einen unabhängigen Zugang zu Informationen für eine
    Bevölkerung möglich, die sonst immer die Unterstützung und Hilfe von Anderen
    benötigen würde.
  </p>

  <p>
    Beim Erstellen einer Webseite können wir Screenreader unterstützen, indem
    wir sogenanntes Semantisches HTML verwenden. Dieses ergänzt die Struktur der
    Seite um Informationen, um was es sich bei dem konkreten Inhalt genau
    handelt. So können wir dem Screenreader mitteilen, dass der folgende Inhalt
    z.B. eine Liste, ein Auswahlfeld oder die Seitennavigation ist.
  </p>

  <p>
    <strong>Übung</strong>: Lassen Sie sich vom Screenreader die beiden Listen
    vorlesen. Was fällt Ihnen auf?
  </p>

  <div class="shopping-lists">
    <div class="shopping">
      <strong>Einkaufsliste</strong>

      <p>Bananen</p>
      <p>Brot</p>
      <p>Käse</p>
      <p>Schokolade</p>
      <p>Waschmittel</p>
    </div>

    <article class="shopping">
      <h1>Einkaufsliste 2</h1>

      <ul>
        <li>Äpfel</li>
        <li>Kartoffeln</li>
        <li>Toast</li>
        <li>Milch</li>
        <li>Eis</li>
      </ul>
    </article>
  </div>
</section>

<section>
  <h2>Buttons</h2>

  <p>
    Gerade bei Buttons ist nicht nur die Optik wichtig, der Screenreader muss
    auch erkennen, dass es sich um einen Button handelt.
  </p>

  <p>
    <strong>Übung</strong>: Lassen Sie sich vom Screenreader die drei Buttons
    vorlesen. Was fällt ihnen auf.

    <br />

    <strong>Bonus: </strong> Versuchen Sie auch, die drei Buttons nur mit der
    Tastatur zu klicken, um den Counter zu erhöhen.
  </p>

  <p>
    <span role="none" class="button" (click)="increase()">klick mich</span>
    Einfaches span-Element
  </p>

  <p>
    <span class="button" tabindex="0" role="button" (click)="increase()">
      klick mich
    </span>
    Ein span-Element mit ARIA-Attributen und Tab-Index
  </p>

  <p>
    <button class="button" (click)="increase()">klick mich</button>
    Natives button-Element
  </p>

  <p>Anzahl der Klicks: {{ counter() }}</p>
</section>

<section>
  <h2>Bilder und Icons</h2>

  <p>
    Es ist wichtig, Bildinhalte immer mit einem beschreibenden Text zu versehen.
    So können auch Screenreader vermitteln, was auf diesem Bild zu sehen ist.
  </p>

  <div>
    <p>
      <strong>Übung</strong>: lassen Sie sich die vier Bilder jeweils vom
      Screenreader vorlesen, indem Sie mit der Maus darüber navigieren. Was
      fällt Ihnen auf?
    </p>

    <div class="images">
      <img class="image" src="amsel.jpg" width="250" height="180" />
      <img
        class="image"
        src="amsel.jpg"
        width="250"
        height="180"
        alt="Ein Bild"
      />
      <img
        class="image"
        src="amsel.jpg"
        width="250"
        height="180"
        alt="Bild einer Amsel, die auf einem Zaun sitzt."
      />
      <figure>
        <img
          src="amsel.jpg"
          alt="Bild einer Amsel, die auf einem Zaun sitzt."
        />
        <figcaption>Bild einer Amsel, die auf einem Zaun sitzt.</figcaption>
      </figure>
    </div>
  </div>

  <p>
    Bei Icons ohne eigene Bedeutung, wie als Teil einer Überschrift, ist es
    allerdings manchmal besser, das Icon-Bild vor dem Screenreader vollständig
    zu verstecken, da es dem Benutzer keinerlei Informationen übermittelt und
    nur den vorgelesenen Text verlängert.
  </p>

  <p>
    <strong>Übung</strong>: Lassen Sie sich die zwei folgenden Überschriften
    vorlesen. Was fällt Ihnen im Vergleich auf? Was ist störend?
  </p>

  <h4>
    <img src="lightbulb.png" height="32" alt="Bild einer Glühbirne" />Das ist
    eine Überschrift mit einem Icon.
  </h4>

  <h4>
    <img src="lightbulb.png" height="32" aria-hidden="true" />Das ist eine
    Überschrift mit einem Icon.
  </h4>
</section>
