<h1>Digitale Welt ohne Grenzen – Barrierefreiheit erleben</h1>

<img
  width="1000"
  src="Barrierefreiheit_auf_allen_Ebenen_und_mit_allen_Mitteln.png"
/>

<p>
  Entdecke die Bedeutung und Umsetzung barrierefreier Software! Mit dem neuen
  Barrierefreiheitsstärkungsgesetz, dass ab dem 28.06.2025 greift, stehen
  Entwicklungsteams vor neuen Herausforderungen.
</p>

<p>
  Unser Vortrag richtet sich an diejenigen, die sich für die aufkommenden
  Herausforderungen und Anforderungen interessieren und vorbereiten möchten.
  Unser Ziel ist es, eine Plattform für den Austausch zu bieten und gemeinsam
  Wege zu finden, wie die Zugänglichkeit in allen Aspekten der
  Softwareentwicklung verbessert werden kann. Unser Format ist interaktiv und
  auf das Fachpublikum ausgerichtet.
</p>

<p>
  Aus diesem Grund bieten wir die Möglichkeit, an verschiedenen Stationen den
  Kontrast zwischen Barrieren und barrierefreier Software selbst zu erfahren. So
  könnt ihr die Probleme eingeschränkter Nutzer selbst erforschen und so ein
  besseres Verständnis für die Bedürfnisse entwickeln.
</p>

<p>
  Des Weiteren möchten wir das Thema barrierefreies Gaming anhand der aktuellen,
  für Playstation 5 und Xbox Series S/X verfügbaren Eingabegeräte für Euch
  zugänglich machen. Ihr bekommt bei uns die Möglichkeit, den PS5 Access
  Controller sowie den Microsoft Adaptive Controller selbst in die Hand zu
  nehmen und auszuprobieren.
</p>
